{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/toys/toy-index.css' %}" />
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>All attractions</h1>
  <img src="{% static 'images/squid.png' %}" alt="A whimsical origami squid" />
  <img src="{% static 'images/squid.png' %}" alt="A whimsical origami squid" />
  <img src="{% static 'images/squid.png' %}" alt="A whimsical origami squid" />
</section>

<section class="card-container">
  {% for attraction in attraction_list %}
    <div class="card" style="border-color: {{ toy.color }}">
      <div class="card-bg" style="background-color: {{ toy.color }}"></div>
      <a href="{% url 'attraction-detail' attraction.id %}">
        <div class="card-content">
          <h2>{{ attraction.name }}</h2>
          <p>Notes: {{ attraction.notes }}</p>
        </div>
      </a>
    </div>
</section>
  {% endfor %}

{% endblock %}
