{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/trips/trip-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Trip List</h1>
  {% comment %} <img
    src="{% static 'images/cool-cat.svg' %}"
    alt="A cool cat"
  />
  <img
    src="{% static 'images/happy-cat.svg' %}"
    alt="A happy cat"
  />
  <img
    src="{% static 'images/teacup-cat.svg' %}"
    alt="A cat in a teacup"
  />
  <img
    src="{% static 'images/cat-in-box.svg' %}"
    alt="A cat in a box"
  /> {% endcomment %}
</section>

<section class="card-container">
  {% for trip in trips %}
  <div class="card">
    <a href="{% url 'trip-detail' trip.id %}">
        <div class="card-content">
        <div class="card-img-container">
            <img
            src="{% static 'images/sk8r-boi-cat.svg' %}"
            alt="A skater boy cat"
            />
        </div>
        <h2 class="card-title">{{ trip.location }}</h2>
        <p>Your upcoming {{ trip.location }} trip</p>

        {% comment %} <h2 class="card-title">{{ trip.location }}</h2>
        {% if trip.date > today %}
        <p>Your upcoming {{ trip.location }} trip</p>
        {% elif trip.date = today %}
        <p>Your current {{ trip.location }} trip</p>
        {% else %}
        <p>Your past {{ trip.location }} trip</p>
        {% endif %}
        <p><small>{{ trip.notes }}</small></p> {% endcomment %}
        </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
