{% extends 'base.html' %} 
{% load static %} 
{% comment %} <link rel="stylesheet" href="{% static 'css/horses/horse-detail.css' %}" /> {% endcomment %}

{% block content %}

<div class="page-header">
      <h2>Are you sure you want to delete {{object.trip.location}}'s {{object.type}}?</h2>
      <img
        src="{% static 'images/hay_8849969.png' %}"
        alt="Hay is for horses"
      />
      <img 
        src="{% static 'images/carrot_1860544.png' %}" 
        alt="Carrot" 
      />
</div>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'trip-detail' trip_id=object.trip.pk %}" class="btn secondary"> Cancel </a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %} 
